
header {
    height: 100vh;
    background-image: url(./images/newhero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

// NAV BAR

.navMenu {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    

    .navItem {
        list-style: none;
       
        a:link,
        a:visited,
        a:hover,
        a:active { 
            text-decoration: none; 
        }

    }
}

// HERO SECTION

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    h1 {
        letter-spacing: 18px;
        color: black;
        opacity: 0.6;
    }
}

}

// MEDIA QUERIES

@media (max-width: 700px) {
    header {
        background-image: url(./images/175064178_482278286353102_4665886699562710464_n.jpg);
        
    }
}