

.navBar {
background-color: white;
display: flex;
flex-direction: column;
align-items: flex-start;
position: fixed;
height: 100vh;
width: 50%;

    h1 {
        
        text-transform: uppercase;
    }

    .navMenu {
        display: flex;
        flex-direction: column;
        
        
        .navItem {
            list-style: none;
            
            a:link,
            a:visited,
            a:hover,
            a:active { 
                text-decoration: none; 
            }
            
        }
    }
}
    
// HERO SECTION

// .title {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
    
//     h1 {
//         letter-spacing: 18px;
//         color: black;
//         opacity: 0.6;
//     }
// }



// MEDIA QUERIES

@media (max-width: 700px) {
    header {
        background-image: url(./images/175064178_482278286353102_4665886699562710464_n.jpg);
        
    }
}